/***** SUGGESTED TO CHANGE CAREFULLY *****/

/* Recommended if panel "height"  unset or smaller then your theme default button height */
button {
    margin: 2px;
    background: none;
    border: none
}

#button-start {
    background: none;
    border: 0
}

/* WindowBox in SwayTaskBar is a custom widget, that needs this and the next name
   to highlight currently focused task */
#task-box {
    padding-right: 4px
    padding-left: 4px;
}
#task-box-focused {
    background-color: rgba(255, 255, 255, 0.12);
    padding-right: 4px
    padding-left: 4px;
}


/***** MODIFY TO YOUR TASTE *****/

/* Default custom button */
#button-custom {
    background: rgba(0, 0, 0, 0.0);
    border: 0
}

#button-custom:hover {
    border: none;
    border-radius: 3px;
    color: #fff
    background: #cd7ebf;
}

/* Top panel in sample config uses this name */
#panel-top {
    border-radius: 0;
    color: #eeeeee
    background-color: rgba(11, 11, 11, 0.9);
}

/* Bottom panel in sample config uses this name */
#panel-bottom {
    border-radius: 0;
    color: #eeeeee
    background-color: rgba(0, 0, 0, 0.9);
}

/* Controls window in sample config uses this name */
#controls-window {
    border-radius: 0;
    color: #eeeeee
    background: #27132e;
}

/* Executors usually behave better in monospace fonts */
#executor-label {
    font-family: DejaVu Sans Mono, monospace
}

/* and so does the Clock */
#clock {
    font-family: DejaVu Sans Mono, monospace;
    font-size: 14px
}

/* Sample executor-weather uses "css-name": "weather" */
#weather {
    font-size: 14px
}

/* dwl-tags */
#dwl-tag-box {
    padding-top: 4px;
    padding-bottom: 4px
}

#dwl-tag-occupied {
    padding-right: 3px;
    padding-left: 3px;
    font-family: monospace;
    color: #eee;
    background-color: #006699;
}

#dwl-tag-free {
    padding-right: 3px;
    padding-left: 3px;
    font-family: monospace;
    color: #eee;
    background-color: #333;
}

#dwl-tag-urgent {
    padding-right: 3px;
    padding-left: 3px;
    font-family: monospace;
    color: #eee;
    background-color: #ee6600;
}

#dwl-tag-selected {
    border: 2px solid #81a1c1;
}

/* Selected (hovered) UI elements */
*:selected {
    border: none;
    border-radius: 3px;
    color: #fff
    background: #cd7ebf;
}
