/***** SUGGESTED TO CHANGE CAREFULLY *****/

/* Recommended if panel "height"  unset or smaller then your theme default button height */
button {
  margin: 2px;
  background: none;
  border: none;
}

/* SwayTaskBar and SwayWorkspaces use custom widgets, that need this and the next name
   to highlight currently focused task / workspace. */
#task-box {
  padding-right: 4px;
  padding-left: 4px;
}

#task-box-focused {
  padding-right: 4px;
  padding-left: 4px;
  background-color: rgba(147, 154, 183, 0.12);
}

/***** MODIFY TO YOUR TASTE *****/

/* Default custom button */
#button-custom {
  background: rgba(0, 0, 0, 0);
  border: 0;
}

#button-custom:hover {
  color: rgba(202, 211, 245, 1);
  background: rgba(198, 160, 246, 1);
  border: none;
  border-radius: 3px;
}

/* Top panel in sample config uses this name */
#panel-top {
  color: rgba(202, 211, 245, 1);
  background: rgba(24, 25, 38, 1);
  border-radius: 0;
}

/* Bottom panel in sample config uses this name */
#panel-bottom {
  color: rgba(202, 211, 245, 1);
  background: rgba(36, 39, 58, 1);
  border-radius: 0;
}

/* Controls window in sample config uses this name */
#controls-window {
  color: rgba(202, 211, 245, 1);
  background: rgba(30, 32, 48, 1);
  border-radius: 10px;
}

/* Executors usually behave better in monospace fonts */
#executor-label {
  font-family:
    DejaVu Sans Mono,
    monospace;
}

/* and so does the Clock */
#clock {
  font-family:
    DejaVu Sans Mono,
    monospace;
  font-size: 16px;
}

/* Sample executor-weather uses "css-name": "weather" */
#weather {
  font-size: 16px;
}

/* dwl-tags module */
#dwl-tag-box {
  padding-top: 4px;
  padding-bottom: 4px;
}

#dwl-tag-occupied {
  padding-right: 3px;
  padding-left: 3px;
  font-family: monospace;
  color: rgba(202, 211, 245, 1);
  background-color: rgba(138, 173, 244, 1);
}

#dwl-tag-free {
  padding-right: 3px;
  padding-left: 3px;
  font-family: monospace;
  color: rgba(202, 211, 245, 1);
  background-color: rgba(32, 50, 90, 1);
}

#dwl-tag-urgent {
  padding-right: 3px;
  padding-left: 3px;
  font-family: monospace;
  color: rgba(202, 211, 245, 1);
  background-color: rgba(245, 169, 127, 1);
}

#dwl-tag-selected {
  border: 2px solid rgba(145, 215, 227, 1);
}

/* Selected (hovered) UI elements */
*:selected {
  color: rgba(202, 211, 245, 1);
  background: rgba(198, 160, 246, 1);
  border: none;
  border-radius: 3px;
}
