* {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7)
  border: none;
}

button {
  border-radius: 10px;
  padding: 10px
  background: none;
}

#clock-label {
  font-family: monospace
}

#unlock-button {
  background: #31373A
  border-radius: 10px;
}

#powerbar-box {
  background: #31373A
  border-radius: 10px;
}

#input-field {
  background: #31373A
  border-radius: 10px;
}

#playerctl-box {
  margin: 20px;
  background: #31373A
}