* {
  border-radius: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7)
  border: none;
}

button {
  padding: 10px
  background: none;
}

#clock-label {
  font-family: monospace
}

#unlock-button {
  background-color: rgba(37, 37, 37, 0.95)
  border: 1px solid #000;
}

#powerbar-box {
  background-color: rgba(37, 37, 37, 0.95)
  border: 1px solid #000;
}

#input-field {
  background-color: rgba(37, 37, 37, 0.95)
  border: 1px solid #000;
}

#playerctl-box {
  margin: 20px;
  background-color: rgba(37, 37, 37, 0.8)
  border: 1px solid #000;
}