window {
	color: rgba(202, 211, 245, 1);
	background-color: rgba(30, 32, 48, 0.6);
}

/* search entry */
entry {
	background-color: rgba(24, 25, 38, 0.2);
}

button,
image {
	background: none;
	border: none;
}

button:hover {
	background-color: rgba(128, 135, 162, 0.1);
}

/* in case you wanted to give category buttons a different look */
#category-button {
	margin: 0 10px 0 10px;
}

#pinned-box {
	padding-bottom: 5px;
	border-bottom: 1px dotted rgb(110, 115, 141);
}

#files-box {
	padding: 5px;
	border: 1px dotted rgb(110, 115, 141);
	border-radius: 15px;
}

/* math operation result label */
#math-label {
	font-size: 16px;
	font-weight: bold;
}
