#!/bin/bash

set -euo pipefail

# Install Hyprland and dependencies
echo "🔄 Installing Hyprland and dependencies..."
paru -S --noconfirm --needed adw-gtk-theme blueman cava cliphist ddcutil evolution-data-server hyprland hyprpolkitagent hyprshot noctalia-shell python3 qt6ct-kde uwsm wlsunset xdg-desktop-portal xdg-desktop-portal-gtk xdg-desktop-portal-hyprland
if [ $? -ne 0 ]; then
  echo "❌ Failed to install Hyprland and dependencies. Exiting script, chezmoi apply will continue."
  exit 0
fi
echo "✅ Hyprland and dependencies installed successfully."

# End of script
