#!/bin/bash
# Install packages from package-lists/pkglist.txt using paru.
# package-lists/pkglist.txt hash: {{ include "package-lists/pkglist.txt" | sha256sum }}

set -eufo pipefail

echo "📦 Installing packages from pkglist.txt..."
paru -Syu --needed --noconfirm - <"{{ joinPath .chezmoi.sourceDir "package-lists/pkglist.txt" }}"
if [ $? -eq 0 ]; then
  echo "✅ Package installation complete."
else
  echo "❌ Package installation failed. Exiting script, chezmoi apply will continue."
  exit 0
fi

# End of script
