#!/bin/bash
# Install GTK themes, icon themes, and cursors.

set -eufo pipefail

# Prerequisite: gtk-engine-murrine
if ! pacman -Q gtk-engine-murrine &>/dev/null; then
  echo "🔍 gtk-engine-murrine not found, installing..."
  paru -S --noconfirm --needed gtk-engine-murrine
  if [ $? -ne 0 ]; then
    echo "❌ Failed to install gtk-engine-murrine. Exiting script, chezmoi apply will continue."
    exit 0
  fi
else
  echo "✅ gtk-engine-murrine is already installed."
fi

# Setting up GTK themes
echo "🎨 Cloning Catppuccin-GTK-Theme..."
git clone https://github.com/Fausto-Korpsvart/Catppuccin-GTK-Theme.git
if [ $? -ne 0 ]; then
  echo "❌ Failed to clone Catppuccin-GTK-Theme. Exiting script, chezmoi apply will continue."
  exit 0
fi
cd ./Catppuccin-GTK-Theme/themes
echo "🛠️ Installing Catppuccin GTK theme..."
./install.sh --tweaks macchiato macos outline float black -t mauve -l -s compact
if [ $? -ne 0 ]; then
  echo "❌ Failed to install Catppuccin GTK theme. Exiting script, chezmoi apply will continue."
  exit 0
fi
cd ../..
rm -rf Catppuccin-GTK-Theme

# Setting up icon themes and cursors
echo "🎨 Cloning Colloid-icon-theme..."
git clone https://github.com/vinceliuice/Colloid-icon-theme.git
if [ $? -ne 0 ]; then
  echo "❌ Failed to clone Colloid-icon-theme. Exiting script, chezmoi apply will continue."
  exit 0
fi
cd ./Colloid-icon-theme
echo "🛠️ Installing Colloid icon theme..."
./install.sh -s catppuccin -t purple
if [ $? -ne 0 ]; then
  echo "❌ Failed to install Colloid icon theme. Exiting script, chezmoi apply will continue."
  exit 0
fi
cd cursors
echo "🖱️ Installing Colloid cursors..."
./install.sh
if [ $? -ne 0 ]; then
  echo "❌ Failed to install Colloid cursors. Exiting script, chezmoi apply will continue."
  exit 0
fi
cd ../..
rm -rf Colloid-icon-theme

# End of script
