#!/bin/bash
# Install packages from package-lists/pkglist.txt using paru.
# package-lists/pkglist.txt hash: {{ include "package-lists/pkglist.txt" | sha256sum }}

set -eufo pipefail

# Ensure paru is installed
if ! command -v paru &>/dev/null; then
  echo "🔍 paru not found, installing..."
  git clone https://aur.archlinux.org/paru.git
  if [ $? -ne 0 ]; then
    echo "❌ Failed to clone paru. Exiting script, chezmoi apply will continue."
    exit 0
  fi
  cd paru
  makepkg -si
  if [ $? -ne 0 ]; then
    echo "❌ Failed to install paru. Exiting script, chezmoi apply will continue."
    exit 0
  fi
  cd ..
  rm -rf paru
else
  echo "✅ paru is already installed."
fi

echo "📦 Installing packages from pkglist.txt..."
paru -Syu --needed --noconfirm - <"{{ joinPath .chezmoi.sourceDir "package-lists/pkglist.txt" }}"
if [ $? -eq 0 ]; then
  echo "✅ Package installation complete."
else
  echo "❌ Package installation failed. Exiting script, chezmoi apply will continue."
  exit 0
fi

# End of script
