#!/bin/bash
# This script sets up the boot screen with Plymouth themes.

set -eufo pipefail

# Installing Plymouth if not already installed
if ! pacman -Q plymouth &>/dev/null; then
  echo "🔍 Plymouth not found, installing..."
  paru -S --noconfirm --needed plymouth
  if [ $? -ne 0 ]; then
    echo "❌ Failed to install Plymouth. Exiting script, chezmoi apply will continue."
    exit 0
  fi
else
  echo "✅ Plymouth is already installed."
fi

# Installing Plymouth themes
# Download plymouth-theme-catppuccin-macchiato from AUR if not already installed
if
  ! pacman -Q plymouth-theme-catppuccin-macchiato-git &
  >/dev/null
then
  echo "🔍 plymouth catppuccin-macchiato theme not found, installing..."
  paru -S --noconfirm --needed plymouth-theme-catppuccin-macchiato-git
  if [ $? -ne 0 ]; then
    echo "❌ Failed to install plymouth catppuccin-macchiato theme. Exiting script, chezmoi apply will continue."
    exit 0
  fi
else
  echo "✅ plymouth catppuccin-macchiato theme is already installed."
fi
# Set Plymouth theme to catppuccin-macchiato
# Check if the theme is already set
if ! plymouth-set-default-theme -l | grep -q "catppuccin-macchiato"; then
  echo "🎨 Setting Plymouth theme to catppuccin-macchiato..."
  sudo plymouth-set-default-theme -R catppuccin-macchiato
  if [ $? -ne 0 ]; then
    echo "❌ Failed to set Plymouth theme. Exiting script, chezmoi apply will continue."
    exit 0
  fi
else
  echo "✅ Plymouth theme is already set to catppuccin-macchiato."
fi
# Update initramfs to apply Plymouth theme
echo "🔄 Updating initramfs to apply Plymouth theme..."
sudo mkinitcpio -P
if [ $? -ne 0 ]; then
  echo "❌ Failed to update initramfs. Exiting script, chezmoi apply will continue."
  exit 0
fi

# End of script
