#!/bin/bash
# Reload settings and apply dotfiles
set -euo pipefail

# Reload hyprland session
if [ "$XDG_SESSION_TYPE" = "wayland" ] && pgrep -x hyprland >/dev/null; then
  hyprctl reload
fi

# End of script
