#!/bin/bash
# This script is intended to be run once to set up networking on a new system.

set -euo pipefail

# Enable IP forwarding
echo "Enabling IP forwarding and configuring UFW..."
sudo sysctl -w net.ipv4.ip_forward=1
sudo ufw enable
# Open the ports for KDE Connect
sudo ufw allow 1714:1764/udp
sudo ufw allow 1714:1764/tcp
sudo ufw reload
if [ $? -ne 0 ]; then
  echo "❌ Failed to enable UFW or set IP forwarding. Exiting script, chezmoi apply will continue."
  exit 0
fi

# End of script
